[Unit]
Description=Executes the thermal-camera binary
After=multi-user.target

[Service]
Type=simple
User=thermal-camera
ExecStart=/opt/thermal-camera/thermal-camera -w

[Install]
WantedBy=multi-user.target
